#portfolio h2 {
    text-align: center;
    margin-bottom: 1em;
}
.portfolio-title {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 0.7em;
}
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 3em;
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(20px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
    margin: auto 0;
}
