:root {
    --main-color: #1d6154;
    --secondary-color: #b1663c;
    --main-bg-color: #fffef8;
}
body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    background-color: var(--main-bg-color);
}
.mainContainer {
    max-width: 1140px;
    margin: auto;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: var(--secondary-color);
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
}
h3 {
    font-family: 'Syne';
    font-weight: bold;
    font-size: 16px;
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav li {
    padding: 0 10px;
    font-size: 1.2em;
    cursor: pointer;
}

li:hover {
    color: var(--secondary-color);
}

#logo {
    cursor: pointer;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
.fa-instagram {
    font-size: 1.5em;
}
