.btn {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: var(--main-color);
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-color: #0e2f28;
}
